table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  @media screen and (max-width: 992px){
    
     table{
     width: max-content;
     }

     table , th, td{
        font-size: 7px;
     }
   

  }

  .tableDesign{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

