<div class="tableDesign">
    <div>
        <table>
            <thead>
            <tr class="col-xs-12 col-md-8">
                <th>Date</th>
                <th>Player 1</th>
                <th>Player 2</th>
                <th>Player 1 Points</th>
                <th>Player 2 Points</th>
                <th>Winner</th>
            </tr>
            </thead>
            <tbody>
            <tr class="col-xs-12 col-md-8">
                <td>2024-11-23</td>
                <td>Meer</td>
                <td>KV</td>
                <td>18</td>
                <td>21</td>
                <td>KV</td>
            </tr>
            <tr>
                <td>2024-11-23</td>
                <td>KV</td>
                <td>Asif</td>
                <td>22</td>
                <td>20</td>
                <td>KV</td>
            </tr>
            <tr>
                <td>2024-11-23</td>
                <td>Asif</td>
                <td>Meer</td>
                <td>17</td>
                <td>21</td>
                <td>Meer</td>
            </tr>
            <tr>
                <td>2024-11-23</td>
                <td>Meer</td>
                <td>KV</td>
                <td>21</td>
                <td>17</td>
                <td>KV</td>
            </tr>
            <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>
    <div>
        <p>note: daily stats record maintaining from 23rd novemeber 2024</p>
    </div>
</div>

