<div class="top"> <h1>***Daily Game Stats of BadMAXton***</h1> <button type="button" class="buttonStyle" (click)="back()">home</button></div>
<div class="tableDesign">
    <div>
        <table>
            <thead>
            <tr class="col-xs-12 col-md-8">
                <th>Date</th>
                <th>Player 1</th>
                <th>Player 2</th>
                <th>Player 1 Points</th>
                <th>Player 2 Points</th>
                <th>Winner</th>
            </tr>
            </thead>
            <tbody>
            <tr class="col-xs-12 col-md-8" *ngFor="let record of game">
                <td>{{record.date}}</td>
                <td>{{record.player1name}}</td>
                <td>{{record.player2name}}</td>
                <td>{{record.player1points}}</td>
                <td>{{record.player2points}}</td>
                <td *ngIf="record.player1points>record.player2points">{{record.player1name}}</td>
                <td *ngIf="record.player1points<record.player2points">{{record.player2name}}</td>
            </tr>
            <!-- <tr>
                <td>2024-11-23</td>
                <td>KV</td>
                <td>Asif</td>
                <td>22</td>
                <td>20</td>
                <td>KV</td>
            </tr>
            <tr>
                <td>2024-11-23</td>
                <td>Asif</td>
                <td>Meer</td>
                <td>17</td>
                <td>21</td>
                <td>Meer</td>
            </tr>
            <tr>
                <td>2024-11-23</td>
                <td>Meer</td>
                <td>KV</td>
                <td>21</td>
                <td>17</td>
                <td>KV</td>
            </tr> -->
            <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>
    <div>
        <p>note: daily stats record maintaining from 23rd novemeber 2024</p>
    </div>
</div>

