<div class="top"> </div>
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item   active">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/MEER.jpg"  height="200" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">MEERJA</h3>
              <h5>(total matches refers to only played against KV as of 15/11/2024)</h5>
              <table>
                <tr>
                  <td class="left">Total no of Matches</td>
                  <td>335</td>
                </tr>
                <tr>
                  <td class="left">Total no of Wins</td>
                  <td>170</td>
                </tr>
                <tr>
                  <td class="left">Total Tournment wins</td>
                  <td>18</td>
                </tr>
                <tr>
                  <td class="left">Rank</td>
                  <td>1</td>
                </tr>
              </table>
            </div>
          </div>
      </div>
      <div class="carousel-item ">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/KV.jpg" height="200" class="card-img-top" alt="image">
            <div class="card-body">
              <h3 class="card-title">KV</h3>
              <h5>(total matches refers to only played against MEERJA as of 15/11/2024)</h5>
              <table>
                <tr>
                  <td class="left">Total no of Matches</td>
                  <td >335</td>
                </tr>
                <tr>
                  <td class="left">Total no of Wins</td>
                  <td>165</td>
                </tr>
                <tr>
                  <td class="left">Total Tournment wins</td>
                  <td>17</td>
                </tr>
                <tr>
                  <td class="left">Rank</td>
                  <td>2</td>
                </tr>
              </table>
            </div>
          </div>
      </div>
      <div class="carousel-item ">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/ASIF.jpg" height="200" class="card-img-top" alt="image">
            <div class="card-body">
              <h3 class="card-title">ASIF</h3>
              <h5>(no matches were tracked for this profile to be counted)</h5>
              <table>
                <tr>
                  <td class="left">Total no of Matches</td>
                  <td>N A</td>
                </tr>
                <tr>
                  <td class="left">Total no of Wins</td>
                  <td>N A</td>
                </tr>
                <tr>
                  <td class="left">Total Tournment wins</td>
                  <td>09</td>
                </tr>
                <tr>
                  <td class="left">Rank</td>
                  <td>N A</td>
                </tr>
              </table>
            </div>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="daily" *ngIf="flag"> 
  <div>to update daily game records
    <button  (click)="onClick()"> click here</button>
  </div>
</div>
<app-badminton-form *ngIf="!flag" ></app-badminton-form>
  