<div class="top"> <h1>Badminton Records***</h1></div>

<div id="carouselExample" class="carousel slide" >
    <div class="carousel-inner">
      <div class="carousel-item   active">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/MEER.jpg"  height="200" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">MEERJA</h3>
              <h5>(matches were tracking from 23/11/2024 for this profile against  KV and Asif)</h5>
              <table>
                <tr>
                  <td class="left">Total no of Matches</td>
                  <td>29</td>
                </tr>
                <tr>
                  <td class="left">Total no of Wins</td>
                  <td>17</td>
                </tr>
                <tr>
                  <td class="left">Total Tournment wins</td>
                  <td>02</td>
                </tr>
                <tr>
                  <td class="left">Rank</td>
                  <td>1</td>
                </tr>
              </table>
            </div>
          </div>
      </div>
      <div class="carousel-item ">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/KV.jpg" height="200" class="card-img-top" alt="image">
            <div class="card-body">
              <h3 class="card-title">KV</h3>
              <h5>(matches were tracking from 23/11/2024 for this profile against  Meer and Asif)</h5>
              <table>
                <tr>
                  <td class="left">Total no of Matches</td>
                  <td >30</td>
                </tr>
                <tr>
                  <td class="left">Total no of Wins</td>
                  <td>17</td>
                </tr>
                <tr>
                  <td class="left">Total Tournment wins </td>
                  <td>01</td>
                </tr>
                <tr>
                  <td class="left">Rank</td>
                  <td>1</td>
                </tr>
              </table>
            </div>
          </div>
      </div>
      <div class="carousel-item ">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/ASIF.jpg" height="200" class="card-img-top" alt="image">
            <div class="card-body">
              <h3 class="card-title">ASIF</h3>
              <h5>(matches were tracking from 23/11/2024 for this profile against Meer and KV)</h5>
              <table>
                <tr>
                  <td class="left">Total no of Matches</td>
                  <td>09</td>
                </tr>
                <tr>
                  <td class="left">Total no of Wins</td>
                  <td>00</td>
                </tr>
                <tr>
                  <td class="left">Total Tournment wins</td>
                  <td>00</td>
                </tr>
                <tr>
                  <td class="left">Rank</td>
                  <td>03</td>
                </tr>
              </table>
            </div>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="daily"> 
  <div>to view Meer vs KV stats please
    <button  (click)="peerStats()"> click here</button>
  </div>
</div>
<div class="daily" > 
  <div>to update daily game records
    <button  (click)="updateGame()"> click here</button>
  </div>
</div>
<div class="daily" > 
  <div>To view daily detail stats
    <button  (click)="dailyStat()"> click here</button>
  </div>
</div>

  