.daily{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap:20px;
}
.container .row{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.formMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:30px;
}
.buttonStyle{
    background-color: transparent;
    color: blue;
    border: transparent;
    text-decoration: underline;
}